
        body {
            margin: 0;
            padding: 0;
        }

        h2 {
            font-style: normal;
        }

        div {
            border: none;
            font-family: sans-serif;

        }

        .block {
            display: flex;
            height: 100vh;

        }

        a {
            color: white;
            text-decoration: none;
            margin: 6px 10px;
            display: inline-block;
            height: 35px;

        }

        a:hover {
            color: gray;
        }

        .aside {
            background-color: #046961;
            min-width: 16.6666%;
            padding: 10px;
            text-align: center;
            font-weight: bold;
            color: rgb(230, 218, 218);
            word-wrap: break-word;
        }

        progress {
            border: none;
            width: 75%;
            height: 5px;
            background: rgb(241, 230, 233);
        }

        progress {
            color: rgb(230, 218, 218);
            ;
        }

        progress::-webkit-progress-value {
            background: rgb(230, 218, 218);
            ;
        }

        progress::-webkit-progress-value {
            background: rgb(230, 218, 218);
            ;
        }

        progress::-webkit-progress-bar {
            background: #048378;
        }

        .content {

            padding: 10px;

        }

        .clear-li {
            list-style-type: none;


        }

        article {
            font-style: italic;
        }

        .semi {
            opacity: 0.5;
        }

        .line {
            line-height: 1.5em;
        }

        .bold {
            font-weight: bold;
        }

        .footer {
            background-color: #d8aa64;
            min-height: 35px;
            display: flex;
            justify-content: space-between;
        }

        .link {
            background-color: #d8aa64;
            display: flex;
        }



        .footer span {
            display: block;
            margin: 5px;
            font-weight: bold;
            padding: 15px;
        }

        div.link {
            line-height: 2em;
        }

        img {
            text-align: center;
            width: 35%;
            display: block;
            margin: auto;
        }

        .square-li {
            list-style-type: square;
        }

        @media all and (max-width: 768px) {

            .block {
                flex-direction: row;
                flex-wrap: wrap;
            }

            .content {
                order: 1;
            }

            .aside {
                flex-grow: 1;
                order: 2;
            }

            .footer {
                flex-direction: column;
            }

            .link {
                justify-content: space-around;
            }

            .footer span {
                margin: 8px auto;
            }

        }

        @media all and (max-width: 480px) {

            a {
                padding: 10px;
                margin: 0;
                box-shadow: 0 0 1px gray;
            }

            .aside {
                width: 100%;
            }

            .link {
                flex-direction: column;
                text-align: center;
            }

            .footer span {
                padding: 7px;
            }

            .link a {
                padding: 5px 0;
            }
        }